<!DOCTYPE html>
<html>
  <head>
    <title><%= titleEvents %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titleEvents %></h1>
    <form>
      <p>Intervalo de Tempo (segundos):<input type="number" name="temp" value="" /></p>
      <button id="myButton">Gerar evento!</button>
    </form>
  </body>
  <script src="/webapp/routes/newEvent.js"></script>
</html>